/*---GENERAL---*/
* {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  background-color: azure;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*---GRID LAYOUT---*/
.grid-container {
  display: grid;
  grid-template-areas:
    "nav nav"
    "hero-image hero-text"
    "footer footer";
  grid-template-columns: 1fr 3fr;
}
.grid-container > div.nav-container {
  grid-area: nav;
  background-color: #0f3f27;
}
.grid-container > div.hero-text {
  grid-area: hero-text;
}
.grid-container > div.hero-image {
  grid-area: hero-image;
  background-color: #bcccc4;
  padding: 0;
  height: 100vh;
}
.grid-container div.footer {
  grid-area: footer;
  background-color: #0f3f27;
  height: 50px;
  z-index: 2;
}
/*---NAV BAR---*/
.nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.nav-container li {
  float: left;
}
.nav-container li a {
  display: block;
  padding: 20px;
  background-color: #0f3f27;
  color: #fff;
  text-decoration: none;
}
.nav-container li a.active {
  background-color: #04AA6D;
  color: white;
}
.nav-container li a:hover:not(.active) {
  background-color: #bcccc4;
  color: rgb(0, 0, 0); 
}
/*---HERO---*/
.hero-text {
  padding-top: 5%;
  left: -40vh;
  z-index: 1;
}
.hero-text h1 {
  padding-bottom: 25px;
  padding-top: 100px;
  padding-left: 15px;
}
.hero-text p {
  padding-top: 20px;
  padding-left: 15px;
}
.hero-image > img {
  height: 100%;
  background-color: #fff;
  object-fit: cover;
  padding: 0;
}
/*---FOOTER---*/
.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
.footer > a, img {
  height: 30px;
  float: right;
  background-color: #0f3f27;
  padding-right: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer > p {
  float: left;
  background-color: #0f3f27;
  color: #fff;
  text-align: center;
  padding-top: 15px;
  padding-left: 20px;
}